.main_index
  .introduce 
    誰かと家族を探すためのアプリケーション
    .main-image
      = image_tag"oo.png"
  
  .contents-intro
    私たちができること
  
  .card-section
    .card-list
      %ul.card-list-ny
        %li.card-list-ny__item
          .card-img
            = image_tag"sagasu.jpg"
          .card-text
            迷い猫を探す<br>
            いなくなった子を掲示板でお知らせして一緒に探してくれる人を探そう
            
        %li.card-list-ny__item
          .card-img
            = image_tag"hogo.jpg"
          %p.card-text
            保護猫から探す<br>
            保護している子を掲示板に投稿してお知らせしよう
        %li.card-list-ny__item
          .card-img
            = image_tag"pos.jpg"
          %p.card-text
            張り紙を作る<br>
            フォームに入力するだけですぐに張り紙が完成します。1秒でも時間の惜しい飼い主さんへ

  .footer
    ©2020- Lost Cat Search / produced by koz