.wrapper
  = render partial:"top/side_bar"
  = render "main.maigo"


-# %h1 Listing maigos

-# %table
-#   %thead
-#     %tr
-#       %th Image
-#       %th Name
-#       %th Age
-#       %th Sex
-#       %th Address
-#       %th Content
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @maigos.each do |maigo|
-#       %tr
-#         %td= maigo.image
-#         %td= maigo.name
-#         %td= maigo.age
-#         %td= maigo.sex
-#         %td= maigo.address
-#         %td= maigo.content
-#         %td= link_to 'Show', maigo
-#         %td= link_to 'Edit', edit_maigo_path(maigo)
-#         %td= link_to 'Destroy', maigo, method: :delete, data: { confirm: 'Are you sure?' }

