.wrapper
  = render partial:"top/side_bar"
  = render "main.maigo"



-#         %td= link_to 'Show', maigo
-#         %td= link_to 'Edit', edit_maigo_path(maigo)
-#         %td= link_to 'Destroy', maigo, method: :delete, data: { confirm: 'Are you sure?' }

