* {
  box-sizing: border-box;  
}

.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  
  .side_bar{
    height: 100vh;
    width: 280px;
    float: left;
    background-image: url(cathaikei.jpg);
    background-size: cover;
    text-align: center;

    .side-header{
      height: 150px;
      width: 100%;
      align-items: center;
      position: relative;

      .side-header__logo{
        height: 150px;
        width: 100%;
        position: absolute;
        margin: 0 auto;
        padding-top: 15px;
      }
    }
    .side-content{
      height: calc(100% - 150px);
      width: 100%;
      padding: 40px;
    
        &__list{
          font-size: 18px;
        }
          li{
            padding: 15px;
            }
          a{
            text-decoration: none;
            color: white;
          }

        .cp_hr02 {
          width: 50%;
          border-width: 1px 0 0 0;
          border-style: dotted;
          border-color:white;
          margin: auto; 
        }
      
      .link-icons{
        height: 50px;
        width: 100%;
        margin-top: 30px;
        
        li {
          display: inline;
          text-decoration: none;
          text-align: center;
          padding: 0 10px 0;
        a{
            text-decoration: none;
          }
        }
        i {
          font-size: 1.3em;
          color: white;
        }
      }
      .login-form{
        text-decoration: none;
        color: white;
        li {
          display: inline;
          text-decoration: none;
          text-align: center;
          padding: 0 10px 0;
        a{
          text-decoration: none;
          }
        }
        .user-name{
          font-size: 15px;
          margin-bottom: 5px;
          color: white;
          }
          
        .i{
          font-size: 1.5em;
          color: white;
          }
          
      }
    }   
  }
// ====ここまでサイド＝＝＝＝

  .main_index {
    height: 100vh;
    width: calc(100% - 280px);
    float: left;
    background-color:white;
    overflow: scroll;
    overflow: hidden visible;
    
    .introduce {
      color: darkslategrey;
      font-size: 20px;
      text-align: center;
      margin-top: 30px;
      img{
        height: auto;
        max-width:250px;
        margin: 0 auto;
        margin: 30px 0 30px;
      }
    }
    .contents-intro{
      color:darkslategrey;
      font-size: 15px;
      text-align: center;
      margin: 20px 0 40px;
      
      .intro-title{
        margin-bottom: 20px;
        .comment{
          line-height: 2em;
          margin-bottom: 20px;
      }
      }
      }
      
    }

    .card-section{
      height: 300px;
      width: 100%;
      margin: 0 auto;

      .card-list-ny{
        display: flex;
        justify-content:center;

        li {
          width:180px ;
          margin: 0 15px 0;
        }

        .card-img{
          img{
            height: auto;
            max-width: 180px;
            border-radius: 10px;
          }
        }
        
        .card-text{
          font-size: 15px;
          color: darkslategrey;
          text-align: center;
          padding: 15px 0 0;
        }
      }
    }


    // ここから迷い猫ページ仮
  

  .maigo_top{
    height: 100vh;
    width: calc(100% - 280px);
    float: left;
    background-color:white;
    overflow: scroll;
    overflow: hidden visible;
    
    .header-mayoineko{
      height: 100px;
      width: 100%;
      background-color: pink;
      align-items: center;
      text-align: center;
      line-height: 100px;
      font-size: 20px;
      color: brown;

      }

    .content-maigo{
      height:100vh;
      max-width: 100%;
      margin: 20px;
      .maigo-data{ 
        height:451px ;
        width: 380px;
        margin: 20px;
        border: solid 1px darkgray; 
        font-size: 15px;
        text-align: left;
        float: left;
        background-color: whitesmoke;


        margin: 30px;
          &__image{
            height: 251px;
            max-width:auto;
            
            text-align: center;
            line-height: 250px;
          }
          &__name{
            height: 20px;
            border-bottom: dashed  1px darkgray;
          }
          &__age{
            height: 20px;
            border-bottom: dashed  1px darkgray;
          }
          &__sex{
            height: 20px;
            border-bottom: dashed  1px darkgray;
          }
          &__address{
            height: 20px;
            border-bottom: dashed  1px darkgray;
          }
          &__content{
            height: 98px;
            font-size: 13px;
            border-bottom: dashed  1px darkgray;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            
          }
          &__user-name{
            height: 20px;
            margin-bottom: 20px;
            
          }
      }
    }
    .maigo-new-page
    .header-mayoineko
  
  
  .footer{
    height: 25px;
    width: 100%;
    font-size: small;
    text-align: center;
    background-color: black;
    color: #fff;
    bottom: 0;
    }
  }
}
